body {
    background-color: dodgerblue;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  #nevnap-container {
    font-weight: 400;
  }
  
  #datum {
    margin-right: 10px;
  }
  
  .title-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(175, 12, 12);
    padding: 20px;
    border-radius: 0 50px 0 50px; 
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }

  .navigacio {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(175, 12, 12);
    padding: 20px;
    border-radius: 50px 0 50px 0; 
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  
  .navigacio p {
    line-height: 1.2; 
    margin-bottom: 0; 
    font-size: 16px;
    cursor: pointer;
  }

  .bemutatkozas {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(175, 12, 12);
    padding: 20px;
    border-radius: 0 50px 0 50px; 
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  
  .bemutatkozas h3 {
    margin: 0 0 10px 0;
  }
  
  .bemutatkozas p, .referencia p, .erdekessegek p, .hasznosoldalak a {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  .bemutatkozas .img {
    width: 100%; /* Reszponzív kép */
    border: 5px solid whitesmoke;
  }
  .text-container {
    display: flex;
    align-items: flex-start}

    .tanulmanyok {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgb(175, 12, 12);
        padding: 20px;
        border-radius: 50px 0 50px 0; 
        text-align: left;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
      }
      
      .tanulmanyok .sor {
        display: flex; /* Flexbox használata */
        flex-wrap: wrap; /* Engedélyezi a sorokban való elhelyezést */
        margin-bottom: 10px;
      }
      
      .tanulmanyok .evszam {
        width: 100%; /* Mobilon teljes szélesség */
        margin-right: 10px;
      }
      
      .tanulmanyok .iskola {
        flex: 1; /* A szöveg a fennmaradó helyet foglalja el */
      }
      .referencia {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgb(175, 12, 12);
        padding: 20px;
        border-radius: 0 50px 0 50px; 
        text-align: left;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
      }
      
      .referencia h4 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
        font-weight: bold;
      }
      .megtekintes p {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
      
      .megtekintes #users {
        display: flex; /* Flexbox aktiválása */
        justify-content: space-around; /* Egyenletes elhelyezés */
        flex-wrap: wrap; /* Engedélyezi a sorokban való elhelyezést */
      }
      
      .megtekintes .user {
        border: 3px solid rgb(224, 109, 60); 
        border-radius: 10px; 
        padding: 10px; 
        margin: 10px; 
        text-align: center; 
        width: 200px; 
        background-color: rgb(241, 240, 144); 
      }
      .erdekessegek {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgb(175, 12, 12);
        padding: 20px;
        border-radius: 0 50px 0 50px; 
        text-align: left;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
      }
      
      .hasznosoldalak {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgb(175, 12, 12);
        padding: 20px;
        border-radius: 50px 0 50px 0; 
        text-align: left;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
      }
      
      .hasznosoldalak a {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: rgba(177, 165, 31, 0.8);
        text-decoration: none;
        line-height: 1.5;
      }
      
      .hasznosoldalak a:hover {
        text-decoration: underline;
      }
      h1, h2 {
        margin: 0;
      }
      
      h1 {
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 500;
        font-size: 30px; /* Mobilon kisebb */
      }
      
      h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 24px; /* Mobilon kisebb */
      }
      
      h3 {
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 500;
        font-size: 24px; /* Mobilon kisebb */
      }
      
      h4 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
      #scrollToTopBtn {
        position: fixed; 
        bottom: 20px; 
        right: 10px; 
        background-color: #4CAF50; 
        color: rgba(255, 255, 255, 0.784); 
        border: none; 
        padding: 10px; 
        border-radius: 5px; 
        cursor: pointer; 
        display: none; 
      }
      
      #scrollToTopBtn:hover {
        background-color: #45a049; /* Sötétebb zöld hover állapotban */
      }