body {
    background-color: dodgerblue;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  #nevnap-container {
    font-weight: 400;
  }
  
  #datum {
    margin-right: 10px;
  }
  
  .title-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(175, 12, 12);
    padding: 20px;
    border-radius: 0 50px 0 50px; 
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }

  .navigacio {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(175, 12, 12);
    padding: 20px;
    border-radius: 50px 0 50px 0; 
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  
  .navigacio p {
    line-height: 1.2; 
    margin-bottom: 0; 
    font-size: 16px;
    cursor: pointer;
  }

  .bemutatkozas {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(175, 12, 12);
    padding: 20px;
    border-radius: 0 50px 0 50px; 
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  
  .bemutatkozas h3 {
    margin: 0 0 10px 0;
  }
  
  .bemutatkozas p, .referencia p, .erdekessegek p, .hasznosoldalak a {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  .bemutatkozas .img {
    width: 100%; /* Reszponzív kép */
    border: 5px solid whitesmoke;
  }
  .text-container {
    display: flex;
    align-items: flex-start}

    .tanulmanyok {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgb(175, 12, 12);
        padding: 20px;
        border-radius: 50px 0 50px 0; 
        text-align: left;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
      }
      
      .tanulmanyok .sor {
        display: flex; /* Flexbox használata */
        flex-wrap: wrap; /* Engedélyezi a sorokban való elhelyezést */
        margin-bottom: 10px;
      }
      
      .tanulmanyok .evszam {
        width: 100%; /* Mobilon teljes szélesség */
        margin-right: 10px;
      }
      
      .tanulmanyok .iskola {
        flex: 1; /* A szöveg a fennmaradó helyet foglalja el */
      }
      .referencia {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgb(175, 12, 12);
        padding: 20px;
        border-radius: 0 50px 0 50px; 
        text-align: left;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
      }
      
      .referencia h4 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
        font-weight: bold;
      }